<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>重设密码</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="../../layuiadmin/style/login.css" media="all">
</head>

<div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;">
    <div class="header">
        <div class="header-main">
            <div class="header-main-left">logo</div>
            <div class="header-main-right">
                <span class="wrapPhone"><i class="layui-icon layui-icon-cellphone"></i> 服务热线</span>
                <span class="phone">400 000 0000</span>
            </div>
        </div>
    </div>
    <div class="layadmin-user-login-main">

        <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
            <div class="layui-tab layui-tab-brief">
                <ul class="layui-tab-title">
                    <li class="layui-this">重设密码</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">


                        <div class="layui-form-item">
                            <label class="layadmin-user-login-icon layui-icon layui-icon-cellphone"
                                   for="LAY-user-login-cellphone"></label>
                            <input type="text" name="cellphone" id="LAY-user-login-cellphone" lay-verify="phone"
                                   placeholder="请输入注册时的手机号" class="layui-input">
                        </div>
                        <div class="layui-form-item">

                            <label class="layadmin-user-login-icon layui-icon layui-icon-vercode"
                                   for="LAY-user-login-smscode"></label>
                            <input type="text" name="vercode" id="LAY-user-login-smscode" lay-verify="required"
                                   placeholder="短信验证码" class="layui-input">

                            <span id="LAY-user-getsmscode">获取验证码
                            </span>
                        </div>
                        <div class="layui-form-item">
                            <label class="layadmin-user-login-icon layui-icon layui-icon-password"
                                   for="LAY-user-login-password"></label>
                            <input type="password" name="password" id="LAY-user-login-password" lay-verify="pass"
                                   placeholder="新密码" class="layui-input">
                        </div>
                        <div class="layui-form-item">
                            <label class="layadmin-user-login-icon layui-icon layui-icon-password"
                                   for="LAY-user-login-repass"></label>
                            <input type="password" name="repass" id="LAY-user-login-repass" lay-verify="required"
                                   placeholder="确认密码" class="layui-input">
                        </div>
                        <div class="layui-form-item">
                            <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="LAY-user-forget-resetpass">
                                重设密码
                            </button>
                        </div>
                        <div class="layui-trans layui-form-item layadmin-user-login-other">
                            <a href="login.html" class="layadmin-user-jump-change layadmin-link">返回登录</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-trans layadmin-user-login-footer">
        CopyRight @ 店分销
    </div>

</div>

<script src="../../layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'user'], function () {

    });
</script>
</body>
</html>